/*Style for personal website*/
.container
{
    margin-left: 40% !important;
    width: 55% !important;
    background-color: white;
    min-height: 100vh;
    opacity: .9;
    z-index: 99;
}
.container-fluid
{
    background: linear-gradient(to right top, rgb(66, 164, 255),rgb(40, 49, 63));
    min-height: 100vh;
    overflow: hidden;
    z-index: 95;
}
h5
{
    text-align: center;
}
.topic
{
    padding-top: 35px;
}
.project-text
{
    padding-top: 30px;
}
.projectlinks
{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(66, 164, 255);
    border-radius: 2rem;
    padding: 6px;
    background-color: rgb(40, 49, 63);
    font-size: 14px;
    color: white;
    margin: 2.5px
}
.projectlinks:hover, .projectlinks:active
{
    text-decoration: none;
    background-color: rgb(66, 164, 255);
    opacity: .75;
}
i
{
    color:rgb(40, 49, 63)
}
i:hover
{
    opacity: .5;
    color: rgb(66, 164, 255);
}
.skillicons
{
    font-size: 100px;
}
.SideHeader
{
    position: fixed;
    top: 10%;
    left: 5%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(214, 214, 214);
}
.img-fluid
{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(66, 164, 255);
    border-radius: 10px;
}
.name
{
    font-size: 20px;
}
.self-icon
{
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    margin-left: 20px;
}
.description
{
    font-size: 14px;
}
/*Social Media Icons*/
.fa-github, .fa-linkedin, .fa-envelope, .fa-file
{
    text-decoration: none !important;
    color: white !important;
    font-size: 16px;
    padding-top: 5px;
    display: inline;
}
.fa-envelope, .fa-file
{
    font-size: 15px !important;
}
.fa-file
{
    padding-left: 2px;
}
.fa-github:hover,.fa-linkedin:hover,.fa-envelope:hover, .fa-file:hover
{
    opacity: .5;
}
.sites
{
    font-size: 15px;
    font-weight: normal !important;
    font-family: 'Courier New', Courier, monospace !important;
    display: inline;
    padding-left: 5px;
}

@media only screen and (max-width: 920px)
{
    .container
    {
        min-width: 100% !important;
        margin: 0 !important;
        padding-top: 75px;
    }
    .container-fluid
    {
        background: white !important;
        text-align: center
    }
    .SideHeader
    {
        position: fixed;
        top: 0;
        left: 0;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(214, 214, 214);
        z-index: 100;
        background: linear-gradient(to left bottom, rgb(66, 164, 255),rgb(40, 49, 63));
        min-width: 100%;
        display: inline;
        padding-top: 5px;
    }
    .self-icon
    {
        width: 50px;
        height: 50px;
        margin-left: -20px !important;
    }
    .name
    {
        display: inline;
    }
    .description
    {
        font-size: 12px;
        text-align: center;
        padding:3px;
    }
    .fa-github,.fa-linkedin, .fa-envelope, .fa-file
    {
        padding: 4px;
    }
    .align-center
    {
        display: inline-block !important;
    }
}