/*Style for personal website*/
.container
{
    margin-left: 40% !important;
    width: 50% !important;
    background-color: white;
    min-height: 100vh;
    opacity: .8;
    z-index: 100;
    padding-top: 50px;
}
.container-fluid
{
    background: linear-gradient(to right top, rgb(66, 164, 255),rgb(40, 49, 63));
    min-height: 100vh;
    overflow: hidden;
    z-index: 95;
}
.col-12
{
    font-size: 100px;
}
.SideHeader
{
    text-align: center;
    position: fixed;
    top: 10%;
    left: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(214, 214, 214);
}
.description
{
    font-size: 12px;
}